  .success, .error{
    color:white;
    padding: 5px;
    margin: 5px 0 15px 0;
  }
  .success{
    background: green;
  }
  .error{
    background: red;
  }
  *{
    box-sizing: border-box;
  }
  body{
    background: url(img/cinema.jpg) no-repeat rgb(22, 19, 40);
    background-size: cover;
  }
  .container {
 
    background-color: rgb(236, 192, 192);
    padding: 20px;
    border-radius: 5px;
  }